<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
       
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="home-loans">
                <div class="large material-icons">crop_free</div>Loans
            </div>
        </div>
        <div class="slogan-container">
            <div class="slogan">Easy Personal Loans</div>
            <div class="sub-slogan">Available instantly at OurSites</div>
        </div>
        <div class="slogan2" style="color: blue;">
           Easy Personal Loans available instantly, Our Personal loan HELPS meets all your Financial needs at low-interest rates. Apply now & get cash in...
        </div>
        <button class="btn btn-success btn-large" (click)="onApplyLoan()" style="margin-top: 13cm;margin-left:3cm;">ApplyLoan</button>
        <button class="btn btn-success btn-large" (click)="onLoanDetials()" style="margin-top: 13cm;margin-left:4cm;">LoanDetials</button>
      </div>

</body>

</html>