* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans;
}

.container {
    width: 100%;
    height: 100vh;
    min-width: 300px;
    position: relative;
    max-width: 1100px;
    margin: 0px auto;
    background-image: url("../../assets/1307401544.svg");
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: 300px;
    background-color: #f2f2f2;
    box-shadow: 1px 1px 120px 10px grey;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d9bf0;
    color: white;
}

.header>.home-loans {
    font-family: fantasy;
    font-size: 25px;
    font-weight: 700;
    text-shadow: 1px 1px grey;
    letter-spacing: 1px;
    margin-left: 20px;
    margin-bottom: 10px;
    line-height: 25px;
}

.header>.home-loans>div {
    float: left;
    font-weight: bold;
    margin: 0px 5px 0px 0px;
}

.header>.toll-free {
    margin-right: 20px;
    line-height: 0px;
}

.slogan-container {
    float: right;
    position: absolute;
    right: 30px;
    top: 130px;
}

.slogan-container>.slogan {
    color: black;
    position: relative;
    right: 30px;
    font-size: 40px;
    filter: blur(0px);
    font-family: fantasy;
    font-style: italic;
}

.slogan-container>.slogan::after {
    width: 340px;
    height: 5px;
    content: " ";
    display: inline-block;
    position: absolute;
    bottom: -8px;
    left: -0px;
    background-color: #fd5959;
    animation: fade 5s infinite;
    animation-delay: 5s;
}

.slogan-container>.sub-slogan {
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin-right: 33px;
    margin-top: 20px;

}

.slogan2 {
    font-size: 25px;
    font-weight: 100;
    position: absolute;
    bottom: 24%;
    padding: 30px;
border: 1px solid rgba(209, 213, 219, 0.3);
}

 h4{
    color: green;
    font-style: italic;
    font-size: 40px;
    font-weight: bold;
} 

button > a{
color: white;
text-decoration: none;
}

svg{
    position: absolute;
    bottom: -30px;
}

@keyframes fade {
    0% {
        width: 0px;
        opacity: 0;
    }

    100% {
        width: 350px;
        opacity: 1;
    }
}
.btn-large
{
    width: 150px;
}